.owl-carousel {
  .owl-item {
    img {
      width: auto !important
    }
  }
  .owl-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;

    button.owl-dot {
      width: 20px;
      height: 20px;
      border: 1px solid $dark;
      border-radius: 50%;
      background-color: $dark;
      position: relative;
      @include r(1200) {
        width: 15px;
        height: 15px;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        border-color: $dark;
        background-color: $dark;
      }
    }
  }
  .owl-nav {
    button {
      &.owl-prev,
      &.owl-next {
        width: 54px;
        height: 54px;
        position: absolute;
        top: 50%;
        border-radius: 50%;
        padding: 0;
        border: 1px solid $dark;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        @include ease;

        span {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $dark;
          border-radius: 50%;
          @include ease;
        }

        @include r(1200) {
          width: 30px;
          height: 30px;
          span {
            width: 25px;
            height: 25px;
          }
        }

        svg {
          max-width: 17px;
          max-height: 17px;
          height: auto;
          fill: none;
          stroke: #fff;
          @include ease;
          @include r(1200) {
            max-height: 12px
          }
        }

        &:hover {
          border-color: $dark;

          span {
            background-color: $dark;
          }

          svg {
            stroke: #fff;
          }
        }

        &.disabled,
        &.disabled:hover {
          opacity: 0;
          cursor: default;
        }
      }

      &.owl-prev {
        left: calc(-57px / 2);
        @include r(1200) {
          left: 5px;
        }
      }

      &.owl-next {
        right: calc(-57px / 2);
        @include r(1200) {
          right: 5px;
        }
      }
    }
  }
}