<footer class="footer">
    <div class="container">
        <div class="footer__in">
            <div class="mb-2 mb-md-3">qualitativ Steuerberatungsgesellschaft mbH</div>
            <div class="mb-3 mb-md-4">Konradstraße 12  22658 Hamburg</div>

            <div class="mb-2">Tel. : <a class="link link--big" href="tel:040 001001101"><span>040 001001101</span></a></div>
            <div class="mb-2">Fax: <a class="link link--big" href="tel:040 001001101"><span>040 001001101</span></a></div>
            <a class="link link--big" href="mailto:info@qualitativ.de"><span>info@qualitativ.de</span></a>
        </div>
    </div>
</footer>