<header class="header">
	<div class="header__in">
		<div class="container">
			<div class="header__top">
				<a class="header__logo" href="home.html">
					{{> logo}}
				</a>
				<div class="header__nav">
					<nav class="nav">
						<a class="nav__link link" href="#"><span>Kanzlei</span></a>
						<a class="nav__link link" href="#"><span>Leistungen</span></a>
						<a class="nav__link link" href="#"><span>Service</span></a>
						<a class="nav__link link" href="#"><span>Aktuelles</span></a>
					</nav>
					<button class="burger js-menu" type="button">
					<span class="burger__in">
						<span class="burger__line burger__line--1"></span>
						<span class="burger__line burger__line--2"></span>
						<span class="burger__line burger__line--3"></span>
					</span>
					</button>
				</div>
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 mb-3">
						<div class="menu__col">
							<a class="menu__link link o-bold" href="#"><span>Kanzlei</span></a>
							<a class="menu__link link" href="#"><span>Adresse und Anfahrt</span></a>
							<a class="menu__link link" href="#"><span>Ansprechpartner</span></a>
							<a class="menu__link link" href="#"><span>Kontaktformular</span></a>
							<a class="menu__link link" href="#"><span>Impressum</span></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mb-3">
						<div class="menu__col">
							<a class="menu__link link o-bold" href="#"><span>Leistungen</span></a>
							<a class="menu__link link" href="#"><span>Steuerberatung</span></a>
							<a class="menu__link link" href="#"><span>Spezialisierungen</span></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mb-3">
						<div class="menu__col">
							<a class="menu__link link o-bold" href="#"><span>Service</span></a>
							<a class="menu__link link" href="#"><span>Infocenter</span></a>
							<a class="menu__link link" href="#"><span>Downloads</span></a>
							<a class="menu__link link" href="#"><span>Erinnerungsservice</span></a>
							<a class="menu__link link" href="#"><span>Nützliche Links</span></a>
							<a class="menu__link link" href="#"><span>Onlinerechner</span></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mb-3">
						<div class="menu__col">
							<a class="menu__link link o-bold" href="#"><span>Kanzlei</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>