<svg width="0" height="0" class="svg-sprite">
    <symbol id="button-top" viewBox="0 0 356 24" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0L356 24H0V0Z" fill="#FFC700"/>
    </symbol>
    <symbol id="button-bottom" viewBox="0 0 356 24" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M356 24L0 0H356V24Z" fill="#FFC700"/>
    </symbol>
    <symbol id="arrow--left" viewBox="0 0 21 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 6L1 3.5L5 0.999999L5 3.5L5 6Z" fill="black"/>
        <path d="M21 3.5L5 3.5M5 3.5L5 0.999999L1 3.5L5 6L5 3.5Z" stroke="black"/>
    </symbol>
</svg>